span {
  font-size: 25px;
}
div {
  color: red;
}

span {
  font-size: 25px;
}
div {
  color: red;
}

span {
  font-size: 25px;
}
div {
  color: red;
}

span {
  font-size: 25px;
}
div {
  color: red;
}

span {
  font-size: 25px;
}
div {
  color: red;
}

span {
  font-size: 25px;
}
div {
  color: red;
}
